<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <a class="navbar-brand"
       href="/">
      Desarrollo Web Frontend
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
	<a href="/products"> Productos </a>
      </li>
      <li class="nav-item active">
	<a href="/categories"> Categorías </a>
      </li>
      <li class="nav-item active">
	<a href="/customers"> Clientes </a>
      </li>
      <li class="nav-item active">
	<a href="/regions"> Regiones </a>
      </li>
      <li class="nav-item active">
	<a href="/invoices"> Facturas </a>
      </li>
      <li class="nav-item active">
	<a href="/cart"> Carrito </a>
      </li>
    </ul>
  </div>
</nav>
