main {
    max-width: 1280px;
    margin: auto;
    margin-top: 16px;
}

#navbarSupportedContent {
        max-width: 1280px;
        margin: auto;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    color: black
}

.form-button button,
.card-header {
    color: black;
    background-color: #F5DE50;
}

.card-header h2 {
    color: black;
    margin: 0 auto;
}

.card-header .btn {
    color: white;
    background-color: #303030;
}

.td-status-disable {
    background-color: #ff0000AA;
}

.td-status-enable {
    background-color: #F5DE50AA;
}
