<main>
  <!-- Table -->
  <div class="card">
    <div class="card-header">
      <h2 align="center" class="mb-0">Productos</h2>
      <a type="button" class="btn" [routerLink]="['/product/']">
	<i class="ph ph-plus-circle"></i>
      </a>
    </div>
    <div class="card-body">
      <table class="table">
	<thead>
	  <tr>
            <th>No.</th>
            <th>GTIN</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Estatus</th>
            <th>Más</th>
	  </tr>
	</thead>
	<tbody>
          <tr *ngFor="let product of products; let i = index">
	    <td>{{ i + 1 }}</td>
	    <td>{{ product.gtin }}</td>
	    <td>{{ product.product }}</td>
	    <td>{{ product.price | currency: 'USD' }}</td>
            <td class="td-status"
		[ngClass]="{'td-status-enable': product.status == 1, 'td-status-disable': product.status == 0}" >
	      {{ product.status == 0 ? "Inactivo" : "Activo" }}
            </td>
	    <td>
	      <div class="btn-group dropright">
		<button class="btn" id="dropdownmenubutton" type="button" data-bs-toggle="dropdown"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownmenubutton">
		  <a class="dropdown-item" [routerLink]="['/product', product.gtin]">
		    <i class="ph ph-note-pencil icon-text-ul"></i> Editar
		  </a>
		  <a *ngIf="product.status == 0" class="dropdown-item enable-item text-success" (click)="enableProduct(product.product_id)">
		    <i class="ph ph-check-circle icon-text-ul"></i> Activar
		  </a>
		  <a *ngIf="product.status == 1" class="dropdown-item disable-item text-danger" (click)="disableProduct(product.product_id)">
		    <i class="ph ph-x-circle icon-text-ul"></i> Desactivar
		  </a>
		</div>
	      </div>
	    </td>
          </tr>
	</tbody>
      </table>
    </div>
  </div>
</main>
